// Theme variables
:root {
  --primary-bg: var(--q-color-primary);
  --secondary-bg: var(--q-color-secondary);
}
.bright-background {
  background-color: #ffffff !important;
  --primary-bg: #ffffff;
  --secondary-bg: #f0f0f0;
}

.dim-background {
  background-color: #bebebe !important;
  --primary-bg: #bebebe;
  --secondary-bg: #becebe;
}

.dark-background {
  background-color: #130f09 !important;
  --primary-bg: #130f09;
  --secondary-bg: #bbbbbb;
}

// Component-specific styles

.q-tab-panel,
.q-form {
  background-color: var(--primary-bg);
}
.q-input {
  background-color: var(--secondary-bg);
}
.q-field {
  background-color: var(--secondary-bg);
}
.q-portal {
  background-color: var(--primary-bg);
}
q-field__label {
  background-color: var(--primary-bg);
}
.q-card {
  background-color: var(--primary-bg);
}
.plum-send-money-form-component {
  background-color: var(--primary-bg);
}

.q-tab-panels {
  background-color: var(--secondary-bg);
}
.table-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-align: center;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table th,
.custom-table td {
  padding: 8px 12px;
  border: 1px solid #ddd;
  text-align: left;
}

.custom-table th {
  background-color: #acdbbe;
  color: #333;
}

.custom-table tbody tr:hover {
  background-color: #f9f9f9;
}
.q-input {
  text-decoration-color: aquamarine;
}
